section.hero
    .hero__inner
            .hero__inner-text 
                .hero__title Push Your Fingertips<br> To The Limit With<span> WhatsApp Trading Signals</span>
                .hero__descr Enhance your investing results and improve your market timing with professional trading signals delivered daily via WhatsApp.
                .hero__records 
                    .hero__record
                        .record__title 100<span>%</span>
                        .record__descr FREE Trial*
                    .hero__record
                        .record__title 82<span>%</span>
                        .record__descr Average 2-Week<br> Signal Success Rate
                    .hero__record
                        .record__title 120
                        .record__descr Signals Sent<br> Monthly
            .hero__inner-image
                img.hero__mobile-img(src="../assets/mobile-img.png", alt="image")
