section.info
    .hero__button
        a.hero__inner-btn(href="#")
            .hero__button-title Claim Your Signals Now!
    .info__inner 
        .info__title Enjoy A Signals Track Record That Speaks For Itself
        .info__descr WhatsApp Signals is your direct connection to financial markets the market pulse, all day, every day. Gain actionable insights and uncover ideas you can execute in real-time.
        .info__signals
            .info__signal
                .info__signal-img
                    img.circuit(src="../assets/circuit.png" alt="circuit")
                    img.bull(src="../assets/bull.png" alt="bull")
                    .text__bull-img FOREX
                    img.stars-bull(src="../assets/stars.png" alt="stars")
                .info__signal-descr The Last Two Weeks:<br> Number Of Positions Opened: [xxx] Signal Success Rate: [xx]%
            .info__signal
                .info__signal-img
                    img.circuit(src="../assets/circuit.png" alt="circuit")
                    img.candles(src="../assets/candles.png" alt="bull")
                    .text__candles-img STOCKS 
                    img.stars-candles(src="../assets/stars.png" alt="stars")
                .info__signal-descr The Last Two Weeks:<br> Number Of Positions Opened: [xxx] Signal Success Rate: [xx]%
            .info__signal
                .info__signal-img
                    img.circuit(src="../assets/circuit.png" alt="circuit")
                    img.barrel(src="../assets/barrel.png" alt="bull")
                    .text__barrel-img COMODITTIES
                    img.stars-barrel(src="../assets/stars.png" alt="stars")
                .info__signal-descr The Last Two Weeks:<br> Number Of Positions Opened: [xxx] Signal Success Rate: [xx]%
            .info__signal
                .info__signal-img
                    img.circuit(src="../assets/circuit.png" alt="circuit")
                    img.arrow(src="../assets/arrow.png" alt="bull")
                    .text__arrow-img INDICES
                    img.stars-arrow(src="../assets/stars.png" alt="stars")
                .info__signal-descr The Last Two Weeks:<br> Number Of Positions Opened: [xxx] Signal Success Rate: [xx]%
        .info__title-signals Why Are <span>WhatsApp Signals</span> A Must-Have?
        .info__descr-signals Timing the market and spotting favorable opportunities is even easier than you think.
        .info__inners-signals 
            .info__inner-signal
                img.signals-img(src="../assets/bell.png", alt="image")
                .signals__title-must Clear-Cut Convenience
                .signals__descr-must Reach for the phone to quickly check the latest signals in your WhatsApp account
            .info__inner-signal
                img.signals-img(src="../assets/heart.png", alt="image")
                .signals__title-must Pick Your Preferences
                .signals__descr-must Select the coverage for the specific markets and assets you prefer to follow
            .info__inner-signal
                img.signals-img(src="../assets/spear.png", alt="image")
                .signals__title-must Connect Seamlessly
                .signals__descr-must Link your signals to a partnered trading account to enjoy instant idea execution
        .info__title-traders What our Traders think about <span>WhatsApp Signals?</span>
        .info__inners-traders 
            .info__inner-trader
                img.traders-img(src="../assets/aaron.png", alt="image")
                .information-trader 
                    .name-trader Aaron Harding
                    .descr-trader After a week with WhatsApp Signals, I feel like I’ve been missing out on golden trading opportunities for years. No more. I stay on top of the latest market moves as they unfold with signal notifications, giving me amazing access to the best ideas.
                    .country-trader
                        img.country(src="../assets/United_Kingdom.png", alt="country")
                        .name-country United Kingdom
            .info__inner-trader
                img.traders-img(src="../assets/lana.png", alt="image")
                .information-trader 
                    .name-trader Lana Van Dijk
                    .descr-trader Hunting for the right trades is time-consuming. I can’t always spend all day in front of the monitor. WhatsApp Signals helps me manage my time by always pointing me in the right direction. Already, I can see an incredible improvement in my results.
                    .country-trader
                        img.country(src="../assets/Netherlands.png", alt="country")
                        .name-country Netherlands
            .info__inner-trader
                img.traders-img(src="../assets/alfred.png", alt="image")
                .information-trader 
                    .name-trader Alfred Andersen
                    .descr-trader I constantly with risk management in my trades. Thankfully, WhatsApp Signals gives me all the valuable information I need to help limit my risk with entry and exit points. This service has helped supercharge my returns and overall success rate.
                    .country-trader
                        img.country(src="../assets/Denmark.png", alt="country")
                        .name-country Denmark
            .info__inner-trader
                img.traders-img(src="../assets/amelia.png", alt="image")
                .information-trader 
                    .name-trader Amelia Gunderson
                    .descr-trader I’ve struggled to perfect my trade timing for years. Fortunately, WhatsApp Signals have eliminated all the guesswork. Now I can automatically filter and select my favorite ideas and instantly trade with the push of a button.
                    .country-trader
                        img.country(src="../assets/United_Kingdom.png", alt="country")
                        .name-country Norway

