extends ../layouts/base.pug

block content
  include ../blocks/header/header.pug
    include ../blocks/form/form.pug
  include ../blocks/hero/hero.pug
  include ../blocks/info/info.pug
  include ../blocks/copyright/copyright.pug